# Pyre type checker
.pyre/
taxi_zones.zip
.DS_Store
*.csv
*.parquet
*.dbf
*.prj
*.sbx
*.sbn
*.shp
*.xml
*.shx
*.db
local edit.ipynb
*.db
*.db
.ipynb_checkpoints/local edit-checkpoint.ipynb
.ipynb_checkpoints/Project Scaffolding (1)-checkpoint.ipynb
.ipynb_checkpoints/Project_Taxi_Uber_trips-checkpoint.ipynb
